@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

body.no-scroll {
    overflow: hidden;
}

.page {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    --pic-padding: 5px;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1em;
    margin-bottom: .5em;
    background-color: #f6f6f6;
    z-index: 3;
}

.header > * {
    padding: 0 var(--pic-padding);
}

.header .title {
    font-size: 30px;
    font-weight: 500;
}

.header .navbar {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    padding-bottom: .2em;
    margin-bottom: .5em;
    background-color: #ffffff;
    /*letter-spacing: .1em;*/
}

.header .navbar a {
    color: inherit;
    text-decoration: none;
    border-radius: 1px;
    user-select: none;
    padding: .4em;
}
.header .navbar a:hover {
    background-color: rgba(150, 150, 150, .1);
}
.header .navbar a:first-child {
    margin-left: -.35em;
}
.header .navbar a.active {
    color: #000000;
    pointer-events: none;
}
.header .navbar a span {
    border-bottom: 0px solid black;
    opacity: .8;
}
.header .navbar a.active span {
    border-bottom: 2px solid black;
    opacity: 1;
}
.header .navbar a.about-link {
    margin-left: auto;
}

.about-page {
    padding-top: 160px;
    width: 100%;
    position: relative;
    margin-bottom: 200px;
}

.gallery {
    padding-top: 160px;
    width: 100%;
    position: relative;
    margin-bottom: 200px;
    opacity: 0;
}

.row {
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--pic-padding);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-container {
    width: 100%;
    position: relative;
    cursor: pointer;
    outline: var(--pic-padding) solid #f6f6f6;
}

img {
    display: block;
    width: 100%;
    max-height: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.img-container .subtitle {
    position: absolute;
    left: 0;
    bottom: 15px;
    background-color: rgba(255, 255, 255, .6);
    opacity: 0;
    width: 100%;
    /*display: none;*/
}
.img-container .subtitle > span {
    display: inline-block;
    font-size: .9em;
    padding: .6em;
}
.img-container .subtitle span.subtitle-cut {
    display: none;
}
.img-container:hover img {
    filter: brightness(.7);
}
.img-container:hover .subtitle {
    opacity: 1;
}

.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, .9);
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    z-index: 11;
}

.modal {
    /*margin-top: -65px;*/
    /*height: calc(100% - 140px);*/
    height: 85%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal img {
    width: auto;
    max-width: 100%;
}

.modal .subtitle {
    padding: .6em;
    /*position: absolute;*/
    /*bottom: 90px;*/
    width: 80%;
    max-width: 700px;
    /*transform: translateY(100%);*/
    text-align: center;
}

@media all and (max-width: 500px) {
    .subtitle {
        opacity: 0 !important;
    }
}